{:users
 [{:id "1", :email "tj@example.com", :documents #{"1"}}
  {:id "2", :email "callie@example.com"}
  {:id "3", :email "emily@example.com"}]
 :documents
 [{:id "1" :author "1" :text "Hello, world"}
  {:id "2" :author "2" :text "Hello, world"}]}
